#FSmainTable		{border:1px solid black; background-color:#FFFFFF; font-family:Arial,Helvetica,Sans-Serif; font-size:12px}
.FSdateField		{width:76px; border:0; font-size:11px; padding:1px 0 0 3px}
.FSdateSelect		{border:1px solid #999999; background-color:white}
.FSmonthRolldown	{width:90px; font-size:11px}
.FSyearInput		{width:38px; font-size:11px}
.FSbuttonsRow		{background-color:#DDDDDD}
.FSdateButton		{width:20px; height:20px; font-weight:bold; font-size:10px}
.FSdateButton2		{width:40px; height:20px; font-weight:normal; font-size:10px}
.FScalendarTitles TD{border-bottom:1px solid black; font-size:11px; color:black; line-height:14px}
.FScalendar TD		{font-size:11px; font-weight:normal}
.FSinMonth			{color:#000000; text-decoration:none; width:22px; height:12px; line-height:14px}
.FSnotInMonth		{color:#999999; text-decoration:none; width:22px; height:12px; line-height:14px}
.FSinMonth:hover	{font-weight:bold}
.FSnotInMonth:hover	{font-weight:bold}
.FSoutOfRange		{color:red; line-height:14px}
#FSrangeCell		{background-color:#EEEEEE; font-size:11px; text-align:center; line-height:14px}
#FSdateToday		{font-size:11px; font-weight:bold; line-height:20px}
