<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   
   <session-config>
      <session-timeout>
         1440
      </session-timeout>
   </session-config>
   <context-param>
      <param-name>
         javax.servlet.jsp.jstl.sql.dataSource
      </param-name>
      <param-value>
         jdbc/pipeline-ii
      </param-value>
   </context-param>
   <context-param>
      <param-name>edu.yale.its.tp.cas.serverName</param-name>
      <param-value>glast-ground.slac.stanford.edu:80</param-value>
   </context-param>
   <filter>
      <filter-name>CheckCookiesFilter</filter-name>
      <filter-class>org.glast.base.web.checkcookies.filter.CheckCookiesFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>CheckCookiesFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>org.glast.base.web.login.filter.LoginFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter>
      <filter-name>sitemesh</filter-name>
      <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
   </filter>
   <filter>
      <filter-name>BlankLineFilter</filter-name>
      <filter-class>org.glast.pipeline.web.filters.BlankLineFilter</filter-class>
   </filter>
   <!-- Adding Data Source Filter -->
   <filter>
      <filter-name>datasource</filter-name>
      <filter-class>org.glast.base.web.datasource.DataSourceFilter</filter-class>
      <init-param>
         <param-name>Default</param-name>
         <param-value>Prod</param-value>
      </init-param>    
      <init-param>
         <param-name>Order</param-name>
         <param-value>Prod,Dev,Test</param-value>
      </init-param>    
      <init-param>
         <param-name>Prod</param-name>
         <param-value>jdbc/pipeline-ii</param-value>
      </init-param>    
      <init-param>
         <param-name>Dev</param-name>
         <param-value>jdbc/pipeline-ii-dev</param-value>
      </init-param>    
      <init-param>
         <param-name>Test</param-name>
         <param-value>jdbc/pipeline-ii-test</param-value>
      </init-param>    
  </filter>
   
   <filter-mapping>
      <filter-name>datasource</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <!-- Done Adding the Data Source Filter -->
    
   <filter>
      <filter-name>PipelineFilter</filter-name>
      <filter-class>org.glast.pipeline.web.filters.PipelineFilter</filter-class>
   </filter>
   <!-- MultiPart Filter -->
   <filter>
      <filter-name>MultipartFilter</filter-name>
      <filter-class>org.glast.base.web.multipart.filter.MultipartFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>MultipartFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>PipelineFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>sitemesh</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter>
      <filter-name>RefreshFilter</filter-name>
      <filter-class>org.glast.base.web.refresh.filter.RefreshFilter</filter-class>
      <init-param>
         <param-name>minRefreshRate</param-name>
         <param-value>60</param-value>
      </init-param>    
      <init-param>
         <param-name>refreshRate</param-name>
         <param-value>60</param-value>
      </init-param>    
      <init-param>
         <param-name>maxNumberOfRefresh</param-name>
         <param-value>100</param-value>
      </init-param> 
   </filter>
 <!-- new preferences code -->  
   <filter>
        <filter-name>PreferencesFilter</filter-name>
        <filter-class>org.glast.base.web.preferences.filter.PreferencesFilter</filter-class>
        <init-param>
            <param-name>preferencesDatabase</param-name>
            <param-value>jdbc/glastgen</param-value>
        </init-param>    
        <init-param>
            <param-name>application</param-name>
            <param-value>Pipeline-II</param-value>
        </init-param>    
        <init-param>
            <param-name>preferences</param-name>
            <param-value>org.glast.pipeline.web.userpreferences.MyPreferences</param-value>
        </init-param>    
    </filter>
    <filter-mapping>
        <filter-name>PreferencesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping> 
   
   <!-- end new preferences code -->
   <filter-mapping>
      <filter-name>RefreshFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>BlankLineFilter</filter-name>
      <url-pattern>/dump.jsp</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   <filter-mapping>
      <filter-name>BlankLineFilter</filter-name>
      <url-pattern>/dump11.jsp</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   <filter-mapping>
      <filter-name>BlankLineFilter</filter-name>
      <url-pattern>/catalog.jsp</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   <filter-mapping>
      <filter-name>BlankLineFilter</filter-name>
      <url-pattern>/schemas/2.0/pipeline.xsd</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   <servlet>
      <servlet-name>aidaplot</servlet-name>
      <servlet-class>hep.aida.web.servlet.PlotServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>tabCornerServlet</servlet-name>
      <servlet-class>org.freehep.webutil.tabs.servlet.TabCornerServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>xsdServlet</servlet-name>
      <jsp-file>/schemas/2.0/pipeline.jsp</jsp-file>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>TaskImageServlet</servlet-name>
      <servlet-class>org.glast.pipeline.web.servlet.TaskImageServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DumpTaskServlet</servlet-name>
      <servlet-class>org.glast.pipeline.web.servlet.DumpTaskServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>TaskImageServlet</servlet-name>
      <url-pattern>/TaskImageServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DumpTaskServlet</servlet-name>
      <url-pattern>/DumpTaskServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>aidaplot</servlet-name>
      <url-pattern>/aida_plot.jsp</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>tabCornerServlet</servlet-name>
      <url-pattern>/tabCornerServlet.jsp</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>xsdServlet</servlet-name>
      <url-pattern>/schemas/2.0/pipeline.xsd</url-pattern>
   </servlet-mapping>
   <welcome-file-list>
      <welcome-file>
         index.jsp
      </welcome-file>
      <welcome-file>
         index.html
      </welcome-file>
   </welcome-file-list>
   
    <servlet>
        <servlet-name>PipelineLogFileServlet</servlet-name>
        <servlet-class>org.glast.pipeline.web.servlet.PlainFileServerServlet</servlet-class>
        <init-param>
            <param-name>urlBase</param-name>
            <param-value>file:/nfs/farm/g/glast</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PipelineLogFileServlet</servlet-name>
        <url-pattern>/PipelineLogFiles/*</url-pattern>
    </servlet-mapping>
   
</web-app>
